main section:first-of-type {
    height: auto;
    padding: 3rem 0;
}

main section:first-of-type a {
    color: #fff;
    padding: 1rem 0.8rem;
    text-align: center;
    border: 1px solid #fff;
}

main section:first-of-type article div ul li {
    display: flex;
    padding: 2rem;
    align-items: center;
}

main section:first-of-type article div ul li span {
    padding-left: 2rem;
}

main section:first-of-type a p {
    font-size: 0.9rem;
}

main section:first-of-type article {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

main section:first-of-type article div ul {
    list-style: none;
}

main section:first-of-type article {
    display: flex;
    flex-direction: column;
}

main section:last-of-type {
    padding-top: 4rem;
}