/* Main component */

.section-heading {
    padding: 2rem 0;
    margin: 0 auto;
    font-size: 4.5vh;
    width: 90%;
    text-shadow: -1px -1px 0 #0000006c;
}
#hero-text {
    padding: 1.5rem;
    font-size: 2vh;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#guide-section-text {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 3vh;
}

#guide-image {
    width: 70%;
}

main section:nth-of-type(3) div img {
    width: 35vh;
    padding: 1rem;
 }
 main section:nth-of-type(3) p {
     font-size: 1.15rem;
     padding: 0.5rem 1rem;
 }
 main section:nth-of-type(3) p:last-of-type {
     padding-top: 1rem;
 }
 
 main section:nth-of-type(3) div {
     background-color: #f5f5f5;
     height: 38%;
     position: relative;
     z-index: 0;
 }
 main section:nth-of-type(3) div:last-of-type {
     margin-left: 10%;
     width: 90%;
 }
 main section:nth-of-type(3) div:first-of-type {
     margin-right: 10%;
     width: 90%;
}

main section:nth-of-type(3) > div span {
    position: absolute;
    border-radius: 100vmax;
}

main section:nth-of-type(3) > div .top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
            90deg,
            transparent 50%,
            #ada0f180,
            #ada0f1
            );
    animation: animateTop 10s ease-in-out infinite;
}

@keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
}

main section:nth-of-type(3) > div .right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
            180deg,
            transparent 30%,
            #ada0f180,
            #ada0f1
            );
    animation: animateRight 10s ease-in-out infinite;
}
@keyframes animateRight {
    0%, 25% {
        height: 0;
        opacity: 0;
    }
    50% {
        height: 100%;
        opacity: 1;
    }
    55%,
    100% {
        height: 100%;
        opacity: 0;
    }
}

main section:nth-of-type(3) > div .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
        90deg,
        #ada0f1,
        #ada0f180,
        transparent 100%
        );
    animation: animateBottom 10s ease-in-out infinite;
}

@keyframes animateBottom {
    0%,
    50% {
      width: 0%;
      opacity: 0;
    }
    75% {
        width: 100%;
        opacity: 1; 
    }
    76%,
    100% {
      opacity: 0;
    }
}

main section:nth-of-type(3) > div .bottomImgTwo {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
        90deg,
        #ada0f1,
        #ada0f180,
        transparent 100%
        );
    animation: animateBottom 10s ease-in-out infinite;
}

main section:nth-of-type(3) > div .topImgTwo {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
            90deg,
            transparent 50%,
            #ada0f180,
            #ada0f1
            );
    animation: animateTop 10s ease-in-out infinite;
}

main section:nth-of-type(3) > div .leftImgTwo {
    bottom: 0;
    left: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
            180deg,
            #ada0f1,
            #ada0f180,
            transparent 70%
            );
    animation: animateLeft 10s ease-in-out infinite;
}

@keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }

/* Testimonials */
.show {
    visibility: visible !important;
    opacity: 1;
    transition: visibility 2s, opacity 1s linear;
}

.hide {
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
}

main section:nth-of-type(4) > div {
    position: relative;
    z-index: -2;
}
main section:nth-of-type(4)> div div {
    position: absolute;
    z-index: 0;
    left: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

main section:nth-of-type(4)> div div:nth-of-type(odd) {
    top: 2.5rem;
}

main section:nth-of-type(4)> div div:nth-of-type(even) {
    top: 6rem;
}


main section:nth-of-type(4)> div div p:first-of-type {
    font-size: 1.75vh;
}
main section:nth-of-type(4)> div div p:last-of-type {
    padding-top: 1rem;
}


main section:nth-of-type(4) > div img {
    width: 90%;
}

main section:nth-of-type(4) > h3 {
    font-family: 'Tangerine', cursive, 'times new roman';
    font-size: 8vh;
    padding: 1.5rem 0;
}
