@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Noto+Sans+Nag+Mundari:wght@400;700&family=Tangerine:wght@700&display=swap');
 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* border: 1px solid black */
}

a {
    text-decoration: none;
}

/* Header Component */
header, #small-screen details {
    display: flex;
}

h1, p, a {
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    position: sticky;
    top: 0;
}

header h2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
    padding: 1rem;
    color: #f2df5a;
    font-family: 'Contrail One', cursive;
    text-shadow: -1px -1px 0 #000;
}

header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    z-index: -1;
}

#small-screen details > summary  {
    position: relative;
    width: 100%;
    list-style: none;
    text-align: end;
    font-size: 2rem;
    z-index: 2;
    color: #fff;
    padding-right: 1.5rem;
}

#small-screen details {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 2.6rem;
    width: 100vw;
}

#small-screen details nav {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    top: 5vh;
    left: 0;
    height: 75vh;
    align-items: center;
    justify-content: space-around;
}

#small-screen details nav a {
    padding: 1.2rem 0.5rem;
    color: #551a8b;
    font-weight: bold;
    letter-spacing: 0.015rem;
    font-size: 4vh;
}
#small-screen details nav .activepage {
    color: #000;
    border:none;
    position: relative;
    /* animation: drawBorderFromCenter 4s infinite; */
}

#small-screen details nav .activepage::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: #000;
    transition: all ease-in-out .2s;
    animation: animateBottomBorder 3s infinite;
}

@keyframes animateBottomBorder {
    from {
        width: 0px;
        left: 50%;
    }
    to {
        width: 100%;
        left: 0;
    }
}

/* Main component */

.section-heading {
    padding: 2rem 0;
    margin: 0 auto;
    font-size: 4.5vh;
    width: 90%;
    text-shadow: -1px -1px 0 #0000006c;
}
#hero-text {
    padding: 1.5rem;
    font-size: 2vh;
}

main {
    text-align: center;
}

main section:not(:last-of-type) {
    padding: 1.5rem 0;
    height: 75vh;
}

main section img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

main section:nth-of-type(odd) {
    background-color: #ada0f1;
    color: #f2df5a;
}

main section:nth-of-type(odd) p {
    color: #fff;
}
main section:last-of-type p {
    color: #000;
    padding: 0.5rem 0;
}

main section:last-of-type {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    color: black;
    padding-bottom: 15vh;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#guide-section-text {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 3vh;
}

#guide-image {
    width: 70%;
}

#contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-details div {
    display: flex;
    width: 80%;
    padding-top: 0.5rem;
    justify-content: space-between;
}

main section:nth-of-type(3) div img {
    width: 35vh;
    padding: 1rem;
 }
 main section:nth-of-type(3) p {
     font-size: 1.15rem;
     padding: 0.5rem 1rem;
 }
 main section:nth-of-type(3) p:last-of-type {
     padding-top: 1rem;
 }
 
 main section:nth-of-type(3) div {
     background-color: #f5f5f5;
     height: 40%;
 }
 main section:nth-of-type(3) div:last-of-type {
     margin-left: 10%;
     width: 90%;
 }
 main section:nth-of-type(3) div:first-of-type {
     margin-right: 10%;
     width: 90%;
}


/* Testimonials */
.show {
    visibility: visible !important;
    opacity: 1;
    transition: visibility 2s, opacity 1s linear;
}

.hide {
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
}

main section:nth-of-type(4) > div {
    position: relative;
    z-index: -2;
}
main section:nth-of-type(4)> div div {
    position: absolute;
    z-index: 0;
    left: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

main section:nth-of-type(4)> div div:nth-of-type(odd) {
    top: 2.5rem;
}

main section:nth-of-type(4)> div div:nth-of-type(even) {
    top: 6rem;
}


main section:nth-of-type(4)> div div p:first-of-type {
    font-size: 1.75vh;
}
main section:nth-of-type(4)> div div p:last-of-type {
    padding-top: 1rem;
}


main section:nth-of-type(4) > div img {
    width: 90%;
}

main section:nth-of-type(4) > h3 {
    font-family: 'Tangerine', cursive, 'times new roman';
    font-size: 8vh;
    padding: 1.5rem 0;
}

/* Credentials */
main section:last-of-type a, main section:last-of-type a > p  {
    color: #551a8b;
}

/* footer component */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #c6b595;
}

footer a {
    font-size: 7vh;
    color: #551a8b;
}



