@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Noto+Sans+Nag+Mundari:wght@400;700&family=Tangerine:wght@700&display=swap');
 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* border: 1px solid black */
}

a {
    text-decoration: none;
}

/* Header Component */
#large-screen, #logo-nav, main > div {
    display: none;
}

header, #small-screen details {
    display: flex;
}

h1, p, a {
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 2;
}

header h2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
    padding: 1rem;
    color: #f2df5a;
    font-family: 'Contrail One', cursive;
    text-shadow: -1px -1px 0 #000;
    text-transform: uppercase;
}

#banner-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    z-index: -1;
}

#small-screen details > summary  {
    position: relative;
    width: 100%;
    list-style: none;
    text-align: end;
    font-size: 2rem;
    z-index: 2;
    color: #fff;
    padding-right: 1.5rem;
}

#small-screen details {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 100vw;
}

#small-screen details nav {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    top: 0.8rem;
    left: 0;
    height: 78vh;
    align-items: center;
    justify-content: space-around;
}

#small-screen details nav a {
    padding: 1.2rem 0.5rem;
    color: #551a8b;
    font-weight: bold;
    letter-spacing: 0.015rem;
    font-size: 4vh;
    text-transform: uppercase;
}
#small-screen details nav .activepage {
    color: #000;
    border:none;
    position: relative;
}

#small-screen details nav .activepage::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: #000;
    animation: animateBottomBorder 3s infinite;
}

@keyframes animateBottomBorder {
    from {
        width: 0px;
        left: 50%;
    }
    to {
        width: 100%;
        left: 0;
    }
}

/* Main */
main {
    text-align: center;
}

main section:not(:last-of-type) {
    padding: 1.5rem 0;
    height: auto;
}

main section img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

main section:nth-of-type(odd) {
    background-color: #ada0f1;
    color: #f2df5a;
}

main section:nth-of-type(odd) p {
    color: #fff;
}
main section:last-of-type p {
    color: #000;
    padding: 0.5rem 0;
}

main section:last-of-type {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    color: black;
    padding-bottom: 15vh;
}

#contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-details div {
    display: flex;
    width: 80%;
    padding-top: 0.5rem;
    justify-content: space-between;
}

#contact-details h3 {
    margin: 1.5rem 0;
}

/* Credentials */
main section:last-of-type a, main section:last-of-type a > p  {
    color: #551a8b;
}

/* footer component */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #c6b595;
}

footer a {
    font-size: 7vh;
    color: #551a8b;
}


/* MEDIA QUERIES */

/* Hide/Show Nav Bars */
@media only screen and (min-width: 650px) {
    /* NAV & BANNER */
    #large-screen, main > div {
        display: block;
    }
    header h2, #banner-nav, #small-screen,  main section:first-of-type img {
        display: none;
    }
    header {
        background-color: #fff;
        padding: 0 2rem;
    }
    #logo-nav {
        display: block;
        width: 16%;
    }
    main > div {
        position: relative;
        width: 100%;
        height: 20vh;
    }
    #large-banner {
        width: 100%;
        object-fit: cover;
        transform: scaleX(-1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    main > div h2 {
        position: absolute;
        top: 30%;
        left: 10%;
        font-size: 2.5rem;
        font-family: 'Contrail One', cursive;
        color: #f2df5a;
        width: 30%;
    }
    #large-screen nav a {
        padding-left: 1.5rem;
        text-transform: uppercase;
    }

    #contact-details {
        width: 60%;
        margin: 0 auto;
    }

    main section:last-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    main section:last-of-type :not(:last-child) {
        width: 30%;
    }

    /* Footer */
    footer a {
        font-size: 4vh;
        color: #551a8b;
    }
}
